@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(90deg, #fbf6ff 36%, #ffffff 100%);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

h1 {
  @apply text-3xl sm:text-4xl lg:text-5xl font-poppins;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  @apply text-2xl sm:text-3xl lg:text-4xl font-poppins;
  @apply mb-1 sm:mb-6 lg:mb-8;
  font-weight: 600;
}

h3 {
  @apply text-lg sm:text-xl lg:text-2xl font-poppins;
  line-height: 1.3;
}

p {
  @apply text-lg font-poppins;
  line-height: 1.5;
}

.text-gold-600 {
  color: #fcd462;
}

.text-purple-600 {
  color: #7f00ff;
}

.border-purple-600 {
  border-color: #7f00ff;
}

.bg-purple-600 {
  background-color: #7f00ff;
}

.hover\:bg-purple-50:hover {
  background-color: #f9f5ff;
}

.hover\:bg-purple-700:hover {
  background-color: #6b00cc;
}

.text-black {
  color: #000000;
}

@layer components {
  .hero {
    @apply flex flex-col lg:flex-row items-center justify-between gap-8 lg:gap-12 px-4 sm:px-6 lg:px-8 py-12 sm:py-16 lg:py-20;
  }

  .features {
    @apply flex flex-col gap-8 px-4 sm:px-6 lg:px-8 py-12 sm:py-16 lg:py-30;
  }
}
